body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#log {
    position: fixed;
    z-index: 2000;
    top: 20px;
    left: 20px;
    background-color: #fff;
}

#top {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    position: relative;
}

#top .top-container {
    width: 100%;

}

#top .top-logo {
    position: absolute;
    width: 120px;
    height: 58px;
    background: url(../img/statskog_logo.png) no-repeat;
    margin-left: 100px;
    margin-top: 20px;
}

#top .top-txt {
    text-align: center;
    z-index: 2;
    width: 300px;
    margin-left: 40%;
    margin-top: 100px;
    margin-right: auto;
    position: absolute;
}

#top .top-bg {
    background: url(../img/top_bg.jpg) 50% 0 no-repeat;
    height: 500px;
}

#wrapper {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: #ededed;
}

#main-menu {
    background: #efefef;
    
    list-style: none;
    width: 960px;
    position: relative;
    display: table;
}

#main-menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#main-menu li {
    float: left;
}

#main-menu li:hover {
    background-color: #4b545f;
}

#main-menu li a {
    display: block;
    
    color: #757575;
    text-decoration: none;
}

ul.subMenu {
    position: absolute;
   /* left: 0;*/
    
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    border-bottom: 1px solid #cccccc;
    z-index: 20;
    min-width: 150px;
    font-size: 12px;
}

.subMenu li {
    list-style: none;
    width: auto;
    background-color: #fff;
}


.subMenu li a {
    
   
    padding: 8px 7px 13px 7px;

    /*font-weight: bold;*/
    text-decoration: none;
}

.subMenu li a:hover {
    /*background-color: #cccccc;*/
    text-decoration: underline;
}