//@import "elements.less";
@blue: #54ad13;
@red: #ff0000;
@menu-bg-color: #ededed;
@menu-bg-color-hover: #fefefe;
@font: Verdana;
@font-heading: "Trebuchet MS";
@font-size: 12px;
@menu-width: 960px;

.rounded-corners(@r: 5px) {
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
	-ms-border-radius: @r;
	-o-border-radius: @r;
	border-radius: @r;
}

.content-box-size(@w: 200px) {
    width: @w;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    
}

.shadow(@r: .3px) {
    -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, @r);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, @r);
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
    -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

/*
@spriteGrid: 32px;
.sprite(@x, @y) {
   background: url(img/sprite.png) no-repeat;
   background-position: -(@x*@spriteGrid) -(@y*@spriteGrid);
}
*/


.heading {
	font-size: 14px;
	font-weight: bold;
	color: @blue;
}

/* styles */

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: @font;
    font-size: @font-size;
    background-color: @menu-bg-color;
}

h2,
h3 {
    font-family: @font-heading;
    font-weight: bold;
    font-size: 20px;
}

#log {
    /*position: fixed;
    z-index: 2000;
    top: 20px;
    left: 20px;
    width: 300px;
    background-color: #fff;*/
}

#top {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    position: relative;
}

#top .top-container {
    width: 100%;

}

#top .top-logo {
    position: absolute;
    width: 120px;
    height: 58px;
    background: url(../img/statskog_logo.png) no-repeat;
    margin-left: 100px;
    margin-top: 20px;
}

#top .top-txt {
    font-family: @font-heading;
    text-align: center;
    color: #000;
    z-index: 2;
    width: 300px;
    margin-left: 40%;
    margin-top: 100px;
    margin-right: auto;
    position: absolute;
}

#top .top-bg {
    background: url(../img/top_bg.jpg) 50% 0 no-repeat;
    height: 400px;
    border-bottom: 1px solid #000;
}

#wrapper {
    position: relative;
    width: @menu-width;
    padding-top: 40px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    // background-color: @menu-bg-color;
}

#content-container {
    z-index: 40;
    margin-top: 40px;
    background-color: @menu-bg-color;
}

/* front-link */
// a:link {color:#FF0000;}      
// a:visited {color:#00FF00;}  
// a:hover {color:#FF00FF;}  
a.front {
    font-family: @font-heading;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

a.front:hover {
    color: #333;
}

a.front:hover:before {
    content: " ";
    position: absolute;
    background: url(../img/icons.png) 0 -31px no-repeat;
    width: 8px;
    height: 12px;
    margin-top: 3px;
    margin-left: -12px;
}

/* menu */
#menu-container {
    
}

ul.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: @font-heading;
    font-size: 14px;
}

ul.main-menu li {
	float: left;
    padding: 10px;
	width: ceil((@menu-width - 126)/ 6);
    border-right: 1px solid #000;
    text-align: center;
    z-index: 100;
}

/*ul.main-menu li:after {
    position: absolute;

    background: url(../img/icons.png) 0 -20px no-repeat;
    width: 1px;
    height: 10px;
    margin-left: 30px;
    margin-top: 5px;
    content: " ";
}*/

ul.main-menu li:last-child {
    border-right: 0;
}

ul.main-menu li div.sub-menu {
	display: block;
    opacity: 0;
    position: absolute;
    text-align: left;
    //margin-left: -10px;
    // padding-right: 10px;
    // padding-top: 10px;
    //padding: 10px;
    //margin-top: 10px;
    min-width:  ceil((@menu-width - 66)/ 6);
    //background-color: @menu-bg-color-hover;
    z-index: 30;
    
}

ul.main-menu li div.sub-menu .sub {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -10px;
    padding: 10px;
    background-color: @menu-bg-color-hover;
    .drop-shadow(0, 2px, 3px, .3px);
}

ul.main-menu li div.sub-menu .sub div {
    padding: 10px;
}

ul.main-menu li div.sub-menu div a:hover {
    color: #333;
}

ul.main-menu li div.sub-menu div a:hover:before {
    content: " ";
    position: absolute;
    background: url(../img/icons.png) 0 -31px no-repeat;
    width: 8px;
    height: 12px;
    margin-top: 3px;
    margin-left: -12px;
}

ul.main-menu li a {
    position: relative;
    text-decoration: none;
    color: #222;
}

ul.main-menu li:hover {
    background-color: @menu-bg-color-hover;
    .drop-shadow(0, 2px, 3px, .3px);
}


/* end menu */
.content-box {
    .content-box-size(630px);//ceil(@menu-width /3)-6;
    height: auto;
    min-height: 100px;
    .rounded-corners(10px);
    .shadow();
}

.content-box-front {
    .content-box-size(310px);//ceil(@menu-width /3)-6;
    height: auto;
    min-height: 100px;
    .rounded-corners(10px);
    .shadow();
    float: left;
}

.inner-box-front {
    padding: 10px;
}

.content-box-right {
    text-align: center;
    .content-box-size(300px);
    .rounded-corners(10px);
    .shadow();
}

.content-box-footer {
    .rounded-corners(10px);
    .shadow();
}

/* icons */
.down {
    position: absolute;
    background: url(../img/icons.png) 0 0 no-repeat;
    width: 8px;
    height: 4px;
    margin-top: 8px;
    margin-left: 8px;
}

.down-arrow {
    //position: absolute;
    background: url(../img/icons.png) -35px -29px no-repeat;
    width: 14px;
    height: 14px;
}

.mail {
    position: absolute;
    background: url(../img/icons.png) -8px -29px no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 8px;
}

/* menu line */
.menuline {
    position: absolute;
    background: url(../img/icons.png) 0 -20px no-repeat;
    width: 1px;
    height: 10px;
    margin-top: 4px;
    margin-left: 36px;
    top: 50px;
}

/* historie */
.year {
    font-size: 28px;
    color: #eb620b;
    padding: 10px;
}

/* tables */
.line-under {
    border-bottom: 1px #000 solid;
}

.line-over {
    border-top: 1px #000 solid;
}

.line-over-under {
    border-bottom: 1px #000 solid;
    border-top: 1px #000 solid;
}